# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.adhoc text eol=lf
*.bash text eol=lf
*.groovy text eol=lf
*.sh text eol=lf
*.zsh text eol=lf

*.bat text eol=crlf
*.reg text eol=crlf
